html, body {
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 375px;
    height: 100vh;
    background-color: #EDEDED;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
    padding: 0 10px;
}

#logo{
    width: 130px;
}

#user-avatar{
    border: 2px solid orange;
}

#user-avatar, #post-avatar{
    border-radius: 50%;
    width: 28px;
}

.user-info{
    height: 34px;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;
    padding-bottom: 0;
}

.name, .place{
    font-size: 10px;
    margin: 0;
}


